In [19]:
import pandas as pd
from sklearn.model_selection import cross_val_score
import lightgbm as lgb

In [20]:
train_ds = pd.read_csv('dataset/train.csv')
test_ds = pd.read_csv('dataset/test.csv')

In [21]:
train_ds.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [4]:
X_train = train_ds.iloc[:, 2:58].values
y_train = train_ds.iloc[:, 1].values

In [5]:
test_ds.head()

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,0,0,1,8,1,0,0,1,0,0,...,1,1,1,12,0,1,1,0,0,1
1,1,4,2,5,1,0,0,0,0,1,...,2,0,3,10,0,0,1,1,0,1
2,2,5,1,3,0,0,0,0,0,1,...,4,0,2,4,0,0,0,0,0,0
3,3,0,1,6,0,0,1,0,0,0,...,5,1,0,5,1,0,1,0,0,0
4,4,5,1,7,0,0,0,0,0,1,...,4,0,0,4,0,1,1,0,0,1

In [6]:
X_test = test_ds.iloc[:, 1:57].values

In [55]:
#test_ds.describe()

In [24]:
#test_ds.info()

In [61]:
#train_ds.columns

In [7]:
#categorizing which filds should be as category
categorical_features = [a for a in train_ds.columns if a.endswith('cat')]
#categorical_features

In [16]:
model_vars = [a for a in train_ds.columns if 'id' not in a and 'target' not in a]
#model_vars

In [ ]:
# https://www.kaggle.com/eoakley/porto-seguro-lightgbm

In [17]:
model = lgb.LGBMClassifier(n_estimators=150)

In [ ]:
cross_val_score(model, train_ds[model_vars], train_ds.target, cv=5, fit_params=dict(categorical_feature=categorical_features))

/Users/jwcunha/anaconda3/lib/python3.6/site-packages/lightgbm/basic.py:1004: UserWarning: categorical_feature in Dataset is overrided. New categorical_feature is ['ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat', 'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat', 'ps_car_10_cat', 'ps_car_11_cat', 'ps_ind_02_cat', 'ps_ind_04_cat', 'ps_ind_05_cat']
  warnings.warn('categorical_feature in Dataset is overrided. New categorical_feature is {}'.format(sorted(list(categorical_feature))))
/Users/jwcunha/anaconda3/lib/python3.6/site-packages/lightgbm/basic.py:1004: UserWarning: categorical_feature in Dataset is overrided. New categorical_feature is ['ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat', 'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat', 'ps_car_10_cat', 'ps_car_11_cat', 'ps_ind_02_cat', 'ps_ind_04_cat', 'ps_ind_05_cat']
  warnings.warn('categorical_feature in Dataset is overrided. New categorical_feature is {}'.format(sorted(list(categorical_feature))))

In [38]:
model.fit(train_ds[model_vars], train_ds.target, categorical_feature=categorical_features)

LGBMClassifier(boosting_type='gbdt', colsample_bytree=1.0, learning_rate=0.1,
        max_bin=255, max_depth=-1, min_child_samples=10,
        min_child_weight=5, min_split_gain=0.0, n_estimators=150,
        n_jobs=-1, num_leaves=31, objective=None, random_state=0,
        reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=50000, subsample_freq=1)

In [40]:
preds = model.predict_proba(test_ds[model_vars])[:,1]

In [42]:
sub = pd.DataFrame({'id': test_ds.id, 'target': preds})
sub.head()

   id    target
0   0  0.027839
1   1  0.025187
2   2  0.024838
3   3  0.023150
4   4  0.039642

In [43]:
sub.to_csv('output/output_lgb_1.csv', index=False, header=True)

In [29]:
# Xgboost

In [69]:
from xgboost import XGBClassifier
classifier = XGBClassifier()

In [84]:
X_train.shape

(595212, 56)

In [83]:
y_train.shape

(595212,)

In [87]:
X_test.shape

(892816, 56)

In [ ]:
classifier.fit(train_ds[model_vars], train_ds.target)

In [ ]:
y_pred = classifier.predict(test_ds[model_vars])
y_pred.shape

In [ ]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10,  fit_params=dict(categorical_feature=categorical_features))
accuracies.mean()
accuracies.std()

In [ ]:
sub = pd.DataFrame({'id': test_ds.id, 'target': y_pred})
sub.head()

In [ ]:
sub.to_csv('output/output_xgb_2.csv', index=False, header=True)

In [ ]:
# Data Exploration

In [28]:
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [ ]:
j = sns.jointplot(data=train_ds, x='target', y='ps_calc_20_bin')